.masthead {
  height: 100vh;
  min-height: 500px;
  /*https://pixabay.com/photos/crocus-violet-flower-blooming-802119/*/
  color: white;
  background-image: url("../images/bg.JPG");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}


.bubblehead {
  height: 100vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}


#rectangle{
    margin: 0 auto;
    margin-bottom: 15px;
    width:170px;
    height:170px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.vert-cent {
  top: 70%;
  -ms-transform: translateY(70%);
  transform: translateY(70%);

}

.r1{
      background:#385F71;
}


.r2{
        background:#C179B9;
}

.r3{
      background:#2B4162;
}

/*
 * Footer
*/


footer
{
  text-align: center;
  background-color: #441151 !important;
}




.bg-dark {
  background-color: #755C93 !important;


}


.color0 {
  background: #F5F3F7;
}
.color1 {
  background: #EBE7EF;
}


/* unvisited link */
a:link {
  color: #0E79B2;
}

/* visited link */
a:visited {
  color: #0E79B2;
}

/* mouse over link */
a:hover {
  color: #094D71;
}

/* selected link */
a:active {
  color: #094D71;
}


/*footer links*/
/* unvisited link */
footer a:link {
  color: #E8EBE4;
}

/* visited link */
footer a:visited {
  color: #E8EBE4;
}

/* mouse over link */
footer a:hover {
  color: white;
}

/* selected link */
footer a:active {
  color: white;
}





a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}


h3{ 
  position:relative; 
  margin: 0px;}
h3 span{ 
  position:absolute; top:-40px;}



@media only screen and (max-width: 450px) {

  a.navbar-brand{
    font-size: 93%;
  }
}



@media only screen and (max-width: 991px) {

  .bubblehead {
    padding-top: 50px;
    height: auto;
  }

  div.col-lg-4{
    padding-bottom: 30px;
  }


}


#sidebar {
    background-color:green;
    height:100%;
}



.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin:0;
  margin-right: auto;
  margin-left: auto;
}

.frame {
    width: 170px;
    height: 170px;
    
    margin: 1em 0;
}

.helper {
    display: inline-block;
    height: 60%;
    vertical-align: middle;
}

.icon{
  max-height: 170px;
  max-width: 170px;
  top: 6%;
}

