<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>



<meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="stylesheets/normalize.css">
  <link rel="stylesheet" href="stylesheets/main.css">

  <meta name="theme-color" content="#fafafa">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link href="stylesheets/bright.css" rel="stylesheet">

  <link rel="stylesheet"  href="https://fonts.googleapis.com/css?family=Material+Icons">


    
  </head>
  <body>




        <!-- navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">


      <div class="container">
        <a class="navbar-brand" href="index.html">Trauerzentrum Frankfurt / IBBE e.V.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05"
                aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample05">
          <ul class="navbar-nav mr-auto">


            <li class="nav-item">
              <a class="nav-link <%= 'active' if current_page.path  == 'groups.html' %>" href="groups.html">Gespräche und Gruppen</a>
            </li>

            <li class="nav-item">
              <a class="nav-link <%= 'active' if current_page.path  == 'education.html' %>" href="education.html">Inhouse Fortbildungen</a>
            </li>

            <li class="nav-item">
              <a class="nav-link <%= 'active' if current_page.path  == 'research.html' %>" href="research.html">Forschung</a>
            </li>

            <li class="nav-item">
              <a class="nav-link <%= 'active' if current_page.path  == 'contact.html' %>" href="contact.html">Kontakt</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>





    <%= yield %>







<footer class="mastfoot bg-dark2">
  
  - <a href="impressum.html">Impressum</a> -
    <a href="dsgvo.html">Datenschutz</a> -
  
<%= link_to('Edit this page', edit_page_url(data.config.repository, current_page.file_descriptor.relative_path), id: 'edit-page-link') %> -
</footer>



  <!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

<!-- modernizer and normalizer dependencies -->
<script src="javascripts/vendor/modernizr-3.7.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
<script src="javascripts/plugins.js"></script>
<script src="javascripts/main.js"></script>


<!-- bootstrap dependencies -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
    window.ga = function () {
        ga.q.push(arguments)
    };
    ga.q = [];
    ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto');
    ga('set', 'transport', 'beacon');
    ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>

  </body>

</html>
